<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fruit_basket_colored"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fruit_basket_colored"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:targetApi="31">


        <activity
            android:name=".orders.OrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".menu.AdminMenuActivity"
            android:exported="false" />
        <activity
            android:name=".misc.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".orders.YourOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".productAdding.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".basket.BasketActivity"
            android:exported="true" />
        <activity
            android:name=".orders.OrderTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".orders.OrdersListActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginOTPActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginPhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".menu.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>